<% title="Nosotros" %>
    <% include partials/header %>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="row col-10 m-1 p-2" style="background: white; border-radius:7%;">
                    <a href="/home" class="col-3 btn btn-outline-primary">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                    <h3 class="col-8" style="color: steelblue;">Nosotros</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
            <div class="card col-10">
            <div class="card-header">
            Descripcion
            </div>
            <div class="card-body">
            <h4 style="color: blue;">Es un dispensador de bebidas que esta diseñado para funcionar con datos dinamicos.
            </h4>
            <h4 style="color: blue;">Proporciona la bebida elegida por el usuario a travez de una aplicacion para android.
            </h4>
            </div>
            </div>
            
            <div class="card col-10">
            <div class="card-header">
            Objetivo
            </div>
            <div class="card-body">
            <h4 style="color: blue;">Ser un proyecto con escalabilidad en datos.
            </h4>
            <h4 style="color: blue;">Proporcionar diferentes bebidas para satisfacer la sed del usuario.
            </h4>
            </div>
            </div>
            
          </div>
        </div>
        <script src="/js/home.js"></script>
        <% include partials/footer %>
