<% title="Nosotros" %>
    <% include partials/header %>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="row col-10 m-1 p-2" style="background: white; border-radius:7%;">
                    <a href="/home" class="col-3 btn btn-outline-primary">
                        Atras</a>
                    <h3 class="col-8" style="color: steelblue;">Nosotros</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="card col-10">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <h3 style="color: blue;">ZENOVIO ALBERTO CIFUENTES DE LEÓN </h3>
                        <h4 style="color: Red;">Electronica</h4>
                    </div>
                </div>
                <div class="card col-10">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <h3 style="color: blue;">EDGAR EVARISTO VASQUEZ LOPEZ</h3>
                        <h4 style="color: Red;">Sistemas</h4>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/home.js"></script>
        <% include partials/footer %>