<% title="Nosotros" %>
    <% include partials/header %>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="row col-10 m-1 p-2" style="background: white; border-radius:7%;">
                    <a href="/home" class="col-3 btn btn-outline-primary">
                        Atras</a>
                    <h3 class="col-8" style="color: steelblue;">Simon Dice</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="card col-10">
                    <div class="card-header">
                        Descripcion
                    </div>
                    <div class="card-body">
                        <h4 style="color: blue;">Simon dice es un juego que consiste en que los participantes en una misma sala compitan entre ellos, en un juego donde el ganador es el que tenga mas aciertos
                        </h4>
                        <h4 style="color: blue;">Para ganar puntos se debe subir una imagen de un objeto segun lo que diga simon.
                        </h4>
                    </div>
                </div>
                <div class="card col-10">
                    <div class="card-header">
                        Como jugar
                    </div>
                    <div class="card-body">
                        <h4 style="color: blue;">Simon dira el nombre de un objeto la cual tentra que subir una imagen o foto del objeto en el tiempo determinado.
                        </h4>
                        <h4 style="color: blue;">Si acierta ganara un punto, si falla podra volver a intentarlo si aun le queda tiempo.
                        </h4>
                        <h6 style="color: blue;">Hay un total de 5 rondas, 30 segundos por ronda.
                        </h6>

                        <h6 style="color: blue;">Multiplayer: Gana el que tenga mas puntos. puede haber empate
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer %>