<% title="Simon Dice" %>
    <% include partials/header %>
        <div class="container-fluid" style="background-color: #111;">
            <div class="row" style="margin-top: 25px;">
                <div class="col-12">
                    <svg style="height: 100px;" class=textanimate viewBox="0 0 600 200"><!-- Symbol--><symbol id="s-text"><text text-anchor="middle" x="50%" y="50%" dy=".35em">simon dice</text></symbol><!-- Duplicate symbols--><use class="text" xlink:href="#s-text"></use><use class="text" xlink:href="#s-text"></use><use class="text" xlink:href="#s-text"></use><use class="text" xlink:href="#s-text"></use><use class="text" xlink:href="#s-text"></use></svg>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center" style="margin-top: -20px; font-size: large;">
                    <label style="color: blanchedalmond;">EL JUEGO APP</label>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-center mt-5">
                <div class="col-12 mb-5">
                    <a href="/play" class="btn btn-lg btn-success">Jugar!!!</a>
                </div>
            </div>
        </div>

        <% include partials/foo %>
            <% include partials/footer %>